html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: white;
}

.estiloDsc  {
  background-color: #60A1F0;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 5rem;
}

h2, h3 {
  font-size: 4rem;
}

.color-mueble {
  color: #037BC0;
}

.DscProducto{
    text-align: center; 
    background-color: #33A6FF; 
    border-radius: 10px; 
    width: 350px; 
    height: 250;
    white-space: normal;
}


.boton-verde {
    background-color: #6BE065;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
}

.hero {
  background-image: url('principal.jpg');
  background-size: cover;
  background-position: center;
  height: 55rem;
}

img {
    display: flex; 
    flex-direction: column; 
    align-items: center;
     border-radius: 10px; 
     height: auto; 
     max-width: 133%;
}

img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.CatProductos {
    text-align: center; 
    border-radius: 10px; 
    width: 200px; 
    white-space: normal; 
    padding: 0 20px;
}

.FooterTable {
    margin-left: auto; 
    margin-right: auto;
}

.divGenerico  {
  width: 30%; 
  height: 30%;
}

.divGenerico3  {
  width: 40%; 
  height: 40%;
  align-items: center;
}

  .botonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;    
    height: 8rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    background-color: #33A6FF; 
    border: 0;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.botonMenu:focus {
    outline: none;
}
.botonMenu:focus + .principal {
    transform: translateX(0rem);
}
nav.principal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15rem;
    background-color: #33A6FF; 
    transform: translateX(15rem);
    transition: .5s all;
}
nav.principal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.principal a {
    display: block;
    color: white;
    padding: 1rem;
    transition: .5s all;
}
nav.principal a:hover {
    text-decoration: none;
    background-color: #33A6FF; 
}

@media screen and (max-width: 600px) {
  table td {
    display: block;
    width: 100%;
  }

  .hero {        
      background-size: cover;
      background-position: center;
      height: 25rem;
  }

  .divGenerico  {
    width: 100%; 
    height: 100%;
  }

  .divGenerico3  {
    width: 100%; 
    height: 100%;
    align-items: center;
  }

  .botonMenu {
    width: 3rem;    
    height: 3rem;
    top: 1.5rem;
    right: 1.5rem;
  }
}